.general {
  background-color: darkgray;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.left-panel {
  background-color: #222222;
  width: 20vw;
  min-width: 100px;
  max-width: 300px;
}
.main-panel {
  background-color: #393939;
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.response-area {
  background-color: #797979;
  height: 70vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.input-area {
  width: 60vw;
  background-color: #4d4d4d;
  border-radius: 15px;
  height: 5vh;
}

.textarea {
  margin: 10px;
  background-color: #4d4d4d;
  max-height: 200px;
  height: 24px;
  width: 58vw;
  overflow-y: hidden;
  border: none;
  border-style: none;
  outline: none;
  resize: none;
}
